.About {
  text-align: center;
  z-index: auto;
  font-family: 'Josefin Sans';
  margin-bottom: 100px;

}

.Img img {
  align-items: center;
  width: 35%;
  margin-top: 5px;
}
.Info p {
  text-align: center;
  color: black;
  width: 40%;
  margin-left: auto;
  margin-right: auto;

}
.InsideInfo {
}
.Contact {

}
