.NavItem {
  font-family: 'Josefin Sans';
  font-size: 20px;
  margin: 10px 0;
  box-sizing: border-box;
  display: block;
  width: 100%;

}

.NavItem a {
  color: Black;
  text-decoration: none;
  width: 100%;
  box-sizing: border-box;
  display: block;

}

.NavItem a:hover,
.NavItem a:active {
  color: #40a4c8;
}

@media (min-width: 500px) {
  .NavItem {
    margin: 0;
    display: flex;
    height: 100%;
    width: auto;
    align-items: center;
  }

  .NavItem a {
    color: Black;
    height: 100%;
    padding: 16px 10px;
    border-bottom: 4px solid transparent;

  }

  .NavItem a:hover,
  .NavItem a:active,
  a:hover {
    color: grey;
  }

}
